.add-user-popup{
    position: relative;
    display: inline-block;

    .text-container{
        visibility: hidden;
        width: 350px;
        // min-height: 200px;
        background-color: white;
        box-shadow: 0 0 5px #999;
        color: black;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;

        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &::after{
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        #title{
            font-size: 15px;
            margin-top: 35px;
        }

        #users{
            margin-top: 20px;
        }

        button{
            // position: absolute;
            // bottom: 10px;
            // left: 50%;
            // transform: translateX(-50%);
            width: 100%;
            margin-top: 24px;
            padding: 12px;
            color: white;
            border: none;
            border-radius: 5px;
            background-color: #4caf50;
            cursor: pointer;
        }

        .close-button{
            position: absolute;
            top: 0;
            right: 0;
            padding: 12px;
        }
    }
}