// body{
//     display: flex;
// }

.header {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    padding: 1rem;
    margin-top: 20px;
    margin-left: 290px;
    // margin-left: 20px;
    margin-right: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Align items vertically */

    h1 {
        font-family: 'Open Sans', sans-serif;
    }

    .header-p{
        color: #808080;
    }

    .header-2 {
        display: flex; /* Use flexbox */
        align-items: center; /* Align items vertically */

        .notification {
            position: relative;
            display: inline-block;
            
            svg{
                cursor: pointer;
            }
          
            .notification-content {
                visibility: hidden;
                width: 120px;
                background-color: #fff;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
                color: black;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 74px;
                left: -300px;
                width: 500px;
                // height: 40px;
                padding-top: 20px;
                padding-bottom: 20px;

                display: flex;
                justify-content: center;
                flex-direction: column;

                h3{
                    text-align: left;
                    margin-left: 20px;
                    margin-bottom: 5px;
                }

                .border{
                    width: 100%;
                    border: 1px solid black;
                }

                .no-notifications{
                    text-align: center;
                    margin-top: 20px;
                }

                .notification-content-data{
                    margin-top: 20px;
                    margin-left: 25px;
                    width: 90%;
                    min-height: 1px;
                    box-shadow: 0 0 10px rgba(0,0,0,.1);

                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                    #header-container{
                        width: 100%;
                        min-height: 60px;
                        background-color: #bbb;

                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        padding: 12px;
                        gap: 12px;

                        display: flex;
                        flex-direction: column;
                    }

                    #message{
                        padding: 12px;
                        gap: 12px;

                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                    }
                }
            }
          
            // .notification-content {
            //     display: flex;
            //     justify-content: center;
            //     flex-direction: column;

            //     .notification-content-data{

            //         a{
            //             text-decoration: none;
            //             color: black;
            //         }
            //     }
            // }
          
            // &:hover .notification-content {
            //   visibility: visible;
            // }

            &.open .notification-content {
                visibility: visible;
            }
          }

        .notification-icon{
            margin-right: 20px;
            height: 25px;
            width: 36px;
            font-size: 30px;
        }

        .user-image {
            height: 15px;
            width: 15px;
            padding: 25px;
            background-color: #bbb;
            border-radius: 50%;
            display: flex;
            align-items: center; /* Center vertically */
            justify-content: center; /* Center horizontally */
            font-size: 18px; /* Adjust the font size as needed */
            color: white;

            &:hover{
                background-color: #999;
            }
        }
    }

    .header-3{
        margin-left: 20px;

        .header-customer-name{
            color: gray;
        }
    }

    .header-4{
        margin-left: 20px;
    }
}

@mixin header--1400() {

}

@mixin header--1200(){

}

@mixin header--992() {
    .header{
        h1{
            font-size: 23px;
        }
    }
}


@mixin header--768() {
    .header{
        margin-left: 18px;

        h1{
            font-size: 20px;
        }
    }
}

@mixin header--576() {
    .header{

        h1{
            font-size: 16px;
        }

        .header-p{
            font-size: 15px;
        }

        .header-2{
            .notification-icon{
                margin-right: 20px;
                height: 25px;
                width: 36px;
                font-size: 30px;
            }

            .user-image{
                height: 5px;
                width: 5px;
            }
        }

    }
}