// body{
//     display: flex;
// }

.header {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    padding: 1rem;
    margin-top: 20px;
    // margin-left: 290px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Align items vertically */

    h1 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .header-p{
        color: #808080;
    }

    .header-2 {
        display: flex; /* Use flexbox */
        align-items: center; /* Align items vertically */

        .notification {
            position: relative;
            display: inline-block;
          
            .notification-content {
                visibility: hidden;
                width: 120px;
                background-color: #fff;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
                color: black;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 74px;
                left: -300px;
                width: 500px;
                height: 40px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
          
            .notification-content {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .notification-content-data{

                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
          
            // &:hover .notification-content {
            //   visibility: visible;
            // }

            &.open .notification-content {
                visibility: visible;
            }
          }
          

        svg{
            margin-right: 20px;
            height: 25px;
            width: 36px;
        }

        .user-image {
            height: 15px;
            width: 15px;
            padding: 25px;
            background-color: #bbb;
            border-radius: 50%;
            display: flex;
            align-items: center; /* Center vertically */
            justify-content: center; /* Center horizontally */
            font-size: 18px; /* Adjust the font size as needed */
            color: white;

            &:hover{
                background-color: #999;
            }
        }
    }

    .header-3{
        margin-left: 20px;

        .header-customer-name{
            color: gray;
        }
    }

    .header-4{
        margin-left: 20px;
    }
}