/* Table */
.table{
    margin-top: 120px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    tr{
        height: 10px;
    }

    th{
        padding: 1rem;
        text-align: left;
        border: 1px solid #e6e6e6;
        font-family: Arial, Helvetica, sans-serif;
    }

    td{
        font-weight: normal;
        cursor: pointer;
        padding: 1rem;
        text-align: left;
        border: 1px solid #e6e6e6;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.user-logo {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    font-size: 18px; /* Adjust the font size as needed */
}

.user-logo:hover {
    background-color: #ccc;
}