/* Table */
table{
    border-collapse: collapse;
    margin-top: 50px;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    tr{
        border: 1px solid #ddd;
        padding: .35em;
    }

    th,
    td{
        padding: .625em;
        text-align: center;
        border-right: 1px solid #ddd;
    }
    
    th {
        font-size: 18px;
        font-family: Arial,Helvetica,sans-serif;
    }

    img{
        width: 50px;
    }

    .status-pending{
        background-color: #efd6af;
        color: #f4833d;
        border-radius: 5%;
        padding: 6px 12px 6px 12px;
        width: fit-content;
    }

    .status-completed{
        background-color: #b3c3e6;
        color: #2167a6;
        border-radius: 5%;
        padding: 6px 12px 6px 12px;
        width: fit-content;
    }

    .status-approved{
        background-color: #dbe6b3;
        color: #89a621;
        border-radius: 5%;
        padding: 6px 12px 6px 12px;
        width: fit-content;
    }

    .status-denied{
        background-color: #fac5c5;
        color: #fc5f5f;
        border-radius: 5%;
        padding: 6px 12px 6px 12px;
        width: fit-content;
    }

    .status-active{
        background-color: #dbe6b3;
        color: #b1bc4d;
        border-radius: 5%;
        padding: 6px 12px 6px 12px;
        width: fit-content;
    }

    .status-inactive{
        background-color: #fac5c5;
        color: #fb6c6f;
        border-radius: 5%;
        padding: 6px 12px 6px 12px;
        width: fit-content;
    }

    .department{
        background-color: #e3e3e3;
        color: #676767;
        border-radius: 5%;
        padding: 6px 12px 6px 12px;
        width: fit-content;
    }

    .deadline-main{
        display: flex;

        span{
            margin-top: 3px;
        }
    }

    .deadline{
        background-color: #4a4a4a;
        color: #ffffff;
        border-radius: 5%;
        padding: 6px 12px 6px 12px;
        width: fit-content;
        // margin-left: auto;
        // margin-right: auto;
    }

    .table-icons{
        display:flex;
        gap: 10px;
        justify-content: center;
        .table-icons-item{
            cursor: pointer;
        }
    }
}

// .table{
//     border-collapse: collapse;
//     width: 100%;
//     margin-top: 50px;
//     box-shadow: 0 0 10px rgba(0,0,0,0.2);
//     table-layout: fixed;

//     // margin-top: 50px;
//     // width: calc(100% - 270px);
//     // margin-left: 270px;
//     // border-collapse: collapse;
//     // box-shadow: 0 0 10px rgba(0,0,0,0.2);

//     tr{
//         height: 10px;
//     }

//     th{
//         padding: 1rem;
//         text-align: left;
//         border: 1px solid #e6e6e6;
//         font-family: Arial, Helvetica, sans-serif;
//     }

//     td{
//         font-weight: normal;
//         padding: 1rem;
//         text-align: left;
//         border: 1px solid #e6e6e6;
//         font-family: Arial, Helvetica, sans-serif;
//     }

//     img{
//         width: 50px;
//     }

//     .status-pending{
//         background-color: #efd6af;
//         color: #f4833d;
//         border-radius: 5%;
//         padding: 6px 12px 6px 12px;
//         width: fit-content;
//     }

//     .status-completed{
//         background-color: #dbe6b3;
//         color: #89a621;
//         border-radius: 5%;
//         padding: 6px 12px 6px 12px;
//         width: fit-content;
//     }

//     .status-approved{
//         background-color: #dbe6b3;
//         color: #89a621;
//         border-radius: 5%;
//         padding: 6px 12px 6px 12px;
//         width: fit-content;
//     }

//     .status-denied{
//         background-color: #fac5c5;
//         color: #fc5f5f;
//         border-radius: 5%;
//         padding: 6px 12px 6px 12px;
//         width: fit-content;
//     }

//     .status-active{
//         background-color: #dbe6b3;
//         color: #b1bc4d;
//         border-radius: 5%;
//         padding: 6px 12px 6px 12px;
//         width: fit-content;
//     }

//     .status-inactive{
//         background-color: #fac5c5;
//         color: #fb6c6f;
//         border-radius: 5%;
//         padding: 6px 12px 6px 12px;
//         width: fit-content;
//     }

//     .department{
//         background-color: #e3e3e3;
//         color: #676767;
//         border-radius: 5%;
//         padding: 6px 12px 6px 12px;
//         width: fit-content;
//     }

//     .deadline-main{
//         display: flex;

//         span{
//             margin-top: 3px;
//         }
//     }

//     .deadline{
//         background-color: #4a4a4a;
//         color: #ffffff;
//         border-radius: 5%;
//         padding: 6px 12px 6px 12px;
//         width: fit-content;
//         // margin-left: auto;
//         // margin-right: auto;
//     }

//     .table-icons{
//         display:flex;
//         gap: 10px;
//         justify-content: center;
//         .table-icons-item{
//             cursor: pointer;
//         }
//     }
// }

.user-logo-main{
    display: flex;
}

.user-logo {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #bbb;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.user-information {
    position: relative;
    display: inline-block;
}

.user-information .user-information-content {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    top: -20px;
    left: 105%;
    width: 300px;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.user-information-content{
    display: flex;
    gap: 12px;
}

.user-information:hover .user-information-content {
    visibility: visible;
}

// Updated_at

.timestamp-information {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.timestamp-information .timestamp-information-content {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -23px;
    left: -388%;
    width: 300px;
    height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.timestamp-information-content{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.timestamp-information:hover .timestamp-information-content {
    visibility: visible;
}

.no-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

// Responsive

@mixin table--1200(){
    table {
        border: 0;

        thead{
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tr{
            display: block;
            margin-bottom: .625em;
        }

        th,
        td{
            border-right: 0px solid #ddd;
        }

        td{
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;

            &::before{
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            &:last-child{
                border-bottom: 0;
            }

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6){
                display: flex;
                justify-content: space-between;
            }
        }

        .table-icons{
            justify-content: right;
        }
    }

    .user-logo-main{
        display: block;
    }

    .user-information .user-information-content{
        left: -150;
        top: -90;
    }
}

@mixin table--768() {
    table {
        border: 0;

        thead{
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tr{
            display: block;
            margin-bottom: .625em;
        }

        th,
        td{
            border-right: 0px solid #ddd;
        }

        td{
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;

            &::before{
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            &:last-child{
                border-bottom: 0;
            }

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6){
                display: flex;
                justify-content: space-between;
            }
        }

        .table-icons{
            justify-content: right;
        }
    }

    .user-logo-main{
        display: block;
    }

    .user-information .user-information-content{
        left: -250;
        top: -90;
    }
}