* {
    font-family: 'Open Sans', sans-serif;
}

.flex{
    margin-left: 270px;
}

.projects-button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    // margin-left: 238px;

    a{
        text-decoration: none;
        color: #686c71;
    }

    span{
        font-size: 24px;
        margin-left: 6px;
        color: #686c71;
    }
}

.tasks-button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    // margin-left: 264px;

    a{
        text-decoration: none;
        color: #686c71;
    }

    span{
        font-size: 24px;
        margin-left: 6px;
        color: #686c71;
    }
}

.task-card {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    min-height: 220px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 12px;
    border-radius: 2%;
    cursor: pointer;

    .task-card-head{
        flex: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;

        p{
            font-weight: bold;
        }
    }

    .task-card-info{
        display: flex;
        gap: 12px;
        margin-top: 20px;

        .task-card-image{
            flex: 30%;
            max-width: 30%;

            img{
                width: 100%;
                border-radius: 5%;
            }
        }

        .task-card-body{
            flex: 70%;
            max-width: 70%;

            .task-card-customer{
                margin-bottom: 20px;
                font-weight: 700;
            }

            .task-card-items{
                display: flex;
                justify-content: space-between;
                margin-top: 64px;

                .task-card-data{
                    display: flex;
                    gap: 12px;
                    align-items: center;
                }

                .task-card-created_at{
                    background-color: rgb(61, 61, 61);
                    border: none;
                    color: white;
                    padding: 4px;
                    border-radius: 5%;
                }

                .task-card-department{
                    background-color: #e3e3e3;
                    color: #686c71;
                    border: none;
                    padding: 4px;
                    border-radius: 5%;
                    padding: 5px;
                }

                .task-card-persons{
                    display: flex;
                    gap: 1px;
                    margin-top: 4px;

                    .task-card-person{
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        background-color: #bbb;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        color: white;
                    }
                }
            }
        }
    }
}

.project-card{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    min-height: 220px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 12px;
    cursor: pointer;
    border-radius: 2%;

    .project-card-head{
        flex: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;

        p{
            font-weight: bold;
        }
    }

    .project-card-info{
        display: flex;
        gap: 12px;
        margin-top: 20px;

        .project-card-image{
            flex: 30%;
            max-width: 30%;

            img{
                width: 100%;
                border-radius: 5%;
            }
        }

        .project-card-body{
            flex: 70%;
            max-width: 70%;

            .project-card-customer{
                margin-bottom: 15px;
                font-weight: 700;
            }

            .project-card-items{
                display: flex;
                justify-content: space-between;
                margin-top: 11px;

                .project-card-data{
                    display: flex;
                    gap: 12px;
                    align-items: center;

                    .project-card-created_at{
                        background-color: rgb(61, 61, 61);
                        border: none;
                        color: white;
                        padding: 4px;
                        border-radius: 5%;
                    }

                    .project-card-department{
                        background-color: #e3e3e3;
                        color: #686c71;
                        border: none;
                        padding: 4px;
                        border-radius: 5%;
                        padding: 5px;
                    }
                }

                .project-card-persons{
                    display: flex;
                    gap: 1px;
                    margin-top: 4px;

                    .project-card-person{
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        background-color: #bbb;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        color: white;
                    }
                }
            }
        }
    }
}

.dashboard-cards{

    margin-top: 20px;

    .create-customer-card{
        width: 280px;
        height: 130px;
        padding-top: 25px;
        padding-left: 15px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        background-color: #f8f4f4;

        p{
            margin-top: 10px;
        }

        h3{
            font-size: 16px;
        }

        button{
            margin-top: 10px;
            background-color: gray;
            color: white;
            padding: 4px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    
    .create-user-card{
        margin-top: 35px;
        width: 280px;
        height: 130px;
        color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: #807c7c;
        padding-top: 25px;
        padding-left: 15px;

        p{
            margin-top: 10px;
        }

        h3{
            font-size: 16px;
        }


        button{
            margin-top: 10px;
            background-color: black;
            color: white;
            padding: 4px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .active-users-card{
        margin-top: 35px;
        width: 280px;
        height: 130px;
        color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: #90a424;
        padding-top: 25px;
        padding-left: 20px;

        h3{
            font-size: 16px;
        }

        p{
            margin-top: 5px;
        }
    }
}

.myProgress{
    margin-top: 53px;
    width: 100%;
    background-color: #f6f6f6;
}

.myBar{
    width: 1%;
    height: 10px;
    background-color: #d9d9d9;
}


// Deadline popup message
.popup{
    position: relative;
    display: inline-block;
}

.popup .popuptext {
    visibility: hidden;
    width: 350px;
    height: auto;
    min-height: 270px;
    background-color: white;
    box-shadow: 0 0 5px #999;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    /* position: absolute; */
    /* margin-left: 270px; */

    position: fixed;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%)

    /* z-index: 1;
    bottom: 400px;
    left: 600px; */
}
/* Popup arrow */
.popup .popuptext::after {
    /* content: ""; */
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

// RESPONSIVE

// @mixin dashboard--2000() {
//     #admin-dashboard{
//         .col-4{
//             display: none;
//         }
//     }
// }

@mixin dashboard--1400() {
    #admin-dashboard{
        .col-4{
            &:nth-child(1),
            &:nth-child(2){
                grid-column: span 5;
                flex: 0 0 calc(  100% / 12 * 5);
            }
        }   
    }
}

@mixin dashboard--1200() {
    #admin-dashboard{
        display: flex;
        .col-4{
            &:nth-child(1){
                // order: 1;
                grid-column: span 4;
                flex: 0 0 calc(100% / 12 * 12);
            }
            &:nth-child(2){
                // order: 3;
                grid-column: span 4;
                flex: 0 0 calc(100% / 12 * 12);
            }
            &:nth-child(3){
                // order: 2;
                grid-column: span 4;
                flex: 0 0 calc(100% / 12 * 12);
            }
        }
    }
}

@mixin dashboard--992() {
    
}

@mixin dashboard--768() {
    .col-4{
        width: 100%;
    }

    .flex{
        .col-4{
            .task-card{
                width: 100%;
                // background-color: black;
            }

            .project-card{
                width: 100%;
            }
        }
    }

    .dashboard-cards{
        .active-users-card,
        .create-user-card,
        .create-customer-card,
        .questions-card,
        .problem-card{
            width: 100%;
        }

        .active-users-card,
        .problem-card{
            margin-bottom: 20px;
        }
    }

    .projects-button,
    .tasks-button{
        justify-content: right;
    }

    h2{
        margin-top: 20px;
        text-align: center;
    }

    .dashboard-cards{
        margin-top: 100px;
        width: 100%;
    }
}

@mixin dashboard--576() {

}
