* {
    font-family: Arial, Helvetica, sans-serif;
}

.all-tasks-button{
    margin-left: 284px;
}

.all-projects-button{
    margin-left: 261px;
}

.task-card {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    min-height: 220px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 12px;
    border-radius: 2%;
    cursor: pointer;

    .task-card-head{
        flex: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;

        p{
            font-weight: bold;
        }
    }

    .task-card-info{
        display: flex;
        gap: 12px;
        margin-top: 20px;

        .task-card-image{
            flex: 30%;
            max-width: 30%;

            img{
                width: 100%;
                border-radius: 5%;
            }
        }

        .task-card-body{
            flex: 70%;
            max-width: 70%;

            .task-card-customer{
                margin-bottom: 20px;
            }

            .task-card-items{
                display: flex;
                justify-content: space-between;
                margin-top: 64px;

                .task-card-data{
                    display: flex;
                    gap: 12px;
                    align-items: center;
                }

                .task-card-created_at{
                    background-color: rgb(61, 61, 61);
                    border: none;
                    color: white;
                    padding: 4px;
                    border-radius: 5%;
                }

                .task-card-department{
                    background-color: #e3e3e3;
                    color: #686c71;
                    border: none;
                    padding: 4px;
                    border-radius: 5%;
                    padding: 5px;
                }

                .task-card-persons{
                    display: flex;
                    gap: 1px;
                    margin-top: 4px;

                    .task-card-person{
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        background-color: #bbb;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        color: white;
                    }
                }
            }
        }
    }
}

.project-card{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    min-height: 220px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 12px;
    cursor: pointer;
    border-radius: 2%;

    .project-card-head{
        flex: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;

        p{
            font-weight: bold;
        }
    }

    .project-card-info{
        display: flex;
        gap: 12px;
        margin-top: 20px;

        .project-card-image{
            flex: 30%;
            max-width: 30%;

            img{
                width: 100%;
                border-radius: 5%;
            }
        }

        .project-card-body{
            flex: 70%;
            max-width: 70%;

            .project-card-customer{
                margin-bottom: 15px;
            }

            .project-card-items{
                display: flex;
                justify-content: space-between;
                margin-top: 11px;

                .project-card-data{
                    display: flex;
                    gap: 12px;
                    align-items: center;

                    .project-card-created_at{
                        background-color: rgb(61, 61, 61);
                        border: none;
                        color: white;
                        padding: 4px;
                        border-radius: 5%;
                    }

                    .project-card-department{
                        background-color: #e3e3e3;
                        color: #686c71;
                        border: none;
                        padding: 4px;
                        border-radius: 5%;
                        padding: 5px;
                    }
                }

                .project-card-persons{
                    display: flex;
                    gap: 1px;
                    margin-top: 4px;

                    .project-card-person{
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        background-color: #bbb;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        color: white;
                    }
                }
            }
        }
    }
}

.dashboard-cards{

    margin-top: 20px;

    .create-customer-card{
        width: 280px;
        height: 130px;
        padding-top: 25px;
        padding-left: 15px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        background-color: #f8f4f4;

        p{
            margin-top: 10px;
        }

        button{
            margin-top: 10px;
            background-color: gray;
            color: white;
            padding: 4px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    
    .create-user-card{
        margin-top: 35px;
        width: 280px;
        height: 130px;
        color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: #807c7c;
        padding-top: 25px;
        padding-left: 15px;

        p{
            margin-top: 10px;
        }

        button{
            margin-top: 10px;
            background-color: black;
            color: white;
            padding: 4px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .active-users-card{
        margin-top: 35px;
        width: 280px;
        height: 130px;
        color: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        background-color: #90a424;
        padding-top: 25px;
        padding-left: 20px;

        p{
            margin-top: 5px;
        }
    }
}

.myProgress{
    margin-top: 53px;
    width: 100%;
    background-color: #f6f6f6;
}

.myBar{
    width: 1%;
    height: 10px;
    background-color: #d9d9d9;
}

// @media (max-width: 768px) {
//     .card-container {
//         width: 100%;
//     }

//     .dashboard-cards {
//         justify-content: center;
//     }

//     .dashboard-cards .card {
//         width: 100%;
//     }
// }

// RESPONSIVE

@mixin dashboard--1400() {
    // .task-card {
    //     background-color: black;
    // }
}

@mixin dashboard--1200() {
    // .task-card {
    //     background-color: red;
    // }
}

@mixin dashboard--992() {
    // .task-card {
    //     background-color: yellow;
    // }
}

@mixin dashboard--768() {
    h2{
        margin-top: 20px;
        text-align: center;
    }

    .dashboard-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .create-customer-card{
        margin-top: 20px;
    }
}

@mixin dashboard--576() {
    h2{
        margin-top: 20px;
        text-align: center;
    }

    .dashboard-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .create-customer-card{
        margin-top: 20px;
    }
}
