.denied-card {
    width: 100%;
    min-height: 256px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 25px;
    display: flex;
    flex-direction: column;

    .denied-card-reason {
        // width: 100%;
        // height: 100%;
        // padding: 20px;

        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .denied-card-reason-header {
            margin-bottom: 10px;
        }

        #reason-container,
        #reason-container-none{
            margin-bottom: 20px;
        }

        // .denied-card-reason-text,
        // .denied-card-reason-text-none{
        //     margin-bottom: 20px;
        // }

        .button-container{
            margin-top: auto;
            display: flex;
            justify-content: center;
        }

    }
}

.task-information-card{
    width: 100%;
    min-height: 256px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 25px;
    // display: flex;

    .task-information-card-body {
        width: 100%;
        height: 100%;
        padding: 20px;

        p{
            &:nth-child(2){
                margin-top: 10px;
                margin-bottom: 10px;

                span{
                    font-weight: bold;
                }
            }

            &:nth-child(3){
                // width: 400px;
                // height: 250px;
                min-height: 250px;
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid #ccc;
                // overflow:scroll;
            }

            &:nth-child(4){
                margin-bottom: 10px;

                span{
                    font-weight: bold;
                }
            }

            &:nth-child(5){
                margin-bottom: 10px;

                span{
                    font-weight: bold;
                }
            }
        }
    }
}

@mixin task-show--768(){
    .col-8,
    .col-4{
        grid-column: span 12;
        flex: 0 0 calc(100% / 12 * 12);
    }
}